<h1>Eat Da Burger!</h1>

<img src="https://media2.giphy.com/media/i4bWPx9KZWeMph3ZLv/source.gif">

<div class="BurgOrders">
<h2 id="burgNow">Your Burger Orders!</h2>

<ul>
  {{#each burgers}}
  {{#unless hungry}}
  {{> burger-block hungry=true}}
  {{/unless}}
  {{/each}}
</ul>
</div>

<div class="Takeout">
<h2 id="burgLater">Takeout for later!</h2>

<ul>
  {{#each burgers}}
  {{#if hungry}}
  {{> burger-block hungry=false}}
  {{/if}}
  {{/each}}
</ul>
</div>

<div class="newOrder">
<h3>Add a Burger Order</h3>
<form id="create-form">

  <div class="form-group">
    <label for="burger_name">Burger Type:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>

  <div class="form-group">
    <label for="hungry">Hungry Now?</label><br>
    <input type="radio" name="hungry" value="1" id="hungry" checked> Hungry!<br>
    <input type="radio" name="hungry" value="0" id="full"> Full
  </div>

  <button type="submit">Add your Burger</button>
</form>

</div>